/***Main Styles****/

<style > body {
  font-family: "Helvetica", "arial", sans-serif;
  font-family: "Antic Slab", "Allerta Stencil", sans-serif;
  margin: 2em;
}

/***Font***/

h1 {
  font-style: bold;
  color: white;
}

body {
  background-color: lightblue;
}

h2 {
  font-family: "Antic Slab", serif;
}

p {
  font-family: "Antic Slab", serif;
}

li {
  font-family: "Antic Slab", serif;
}

h1 {
  font-family: "Allerta Stencil", sans-serif;
}


/***Images***/

img {
  width: 100%;
  max-width: 600px;
}

/***Text Align CSS***/

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}

/***Slideshow Styles**/

<style > .mySlides {
  display: none;
}
.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}
.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}










</style>
</style>